/*============================================
                    BODY
==============================================  */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #3b1d60, #040d3e);
}

body img {
  pointer-events: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #99efd0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.text__title {
  color: #99efd0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 42px;
}

.sub__title {
  color: #8476AA;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.but__orange {
  border-radius: 4px;
  color: #ffffff;
  background-color: #f2994a;
  border: 1px solid #f2994a;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s linear;
  letter-spacing: 2px;
}

.but__orange:hover {
  color: #f2994a;
  background: transparent;
  box-shadow: none;
}

.div_main {
  margin: 0px auto;
  width: 1200px;
}

.orange__text {
  color: #F2994A;
}

/*=======================================
                HEADER
=========================================*/

.header_padding {
  margin-top: 80px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  justify-content: space-between;
}

.menu_item {
  margin-left: 30px;
  display: flex;
  align-items: center;
  opacity: .8;

}

.menu_item a {
  margin-left: 30px;
  text-decoration: none;
  color: #b5b5b5;
  letter-spacing: 2px;
  transition: all .2s linear;
}

.menu_item a:hover {
  color: #ffffff;
  opacity: 1;
}

.menu_item a:after {
  display: block;
  content: "";
  background-color: #F2994A;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  transition: all .2s linear;
}

.menu_item a:hover::after {
  width: 100%;
}

.header_but {
  display: flex;
  justify-content: flex-end;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}

.sign__in {
  letter-spacing: 2px;
  width: 112px;
  height: 36px;
  border: 1px solid #F2994A;
  border-radius: 4px;
  background: transparent;
  color: #F2994A;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s linear;
}

.sign__in:hover {
  background-color: #F2994A;
  color: #ffffff;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.sign__up {
  width: 112px;
  height: 36px;
  margin-left: 20px;
}

/*====================================================
                    UNDER HEADER
====================================================== */

.under__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 105px 11px 0px;
}

.left__bar {
  height: 439px;
  width: 540px;
}

.main__logo {
  width: 540px;
  font-size: 36px;
}

.under__logo {
  width: 470px;
  height: 44px;
  margin-top: 19px;
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
}

.but {
  margin-top: 40px;
}

.learn__mode {
  width: 157px;
  height: 46px;
}

.demo {
  width: 157px;
  height: 46px;
  margin-left: 20px;
}

.video {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  line-height: 22px;
}

.text__video {
  width: 380px;
  height: 44px;
  margin-top: 5px;
  margin-left: 20px;
  color: #8476aa;
  font-size: 16px;
}

.under__text {
  color: #6d6d78;
  font-size: 14px;
}

/* LOGOS */

.logos__features {
  margin-top: 100px;
  background-image: url("./img/background-img/back-feature.png");
  background-position: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logos__item {
  opacity: 0.45;
}

/*==============================
            FEATURES
=================================*/

.features {
  margin-top: 100px;
  margin-bottom: 20px;
}

.main__choise {
  text-align: center;
}

.sub__choise {
  text-align: center;
  margin-top: 13px;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex__choise {

  display: flex;
  justify-content: space-between;
}

.choise__item {
  margin-top: 50px;
  display: flex;
}

.text__flex {
  margin-left: 25px;
}

.name__block {
  font-size: 18px;
}

.text__block {
  margin-top: 10px;
  width: 260px;
  line-height: 22px;
}

/*=================================================
                  BUISENESS TRAFFIC
====================================================*/

.bus__traf {
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
}

.title__bus {
  margin-top: 40px;
  width: 500px;
  font-size: 42px;
}

.subtit__bus {
  margin-top: 30px;
  width: 600px;
  line-height: 28px;
  font-size: 18px;
}

.but__bus {
  margin-top: 45px;
  width: 155px;
  height: 48px;
}

/*====================================================
                  BUISNESS CARD
======================================================*/

.card {
  background-image: url(./img/background-img/back-2.png);
  background-repeat: no-repeat;
  background-position: top -100px left;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__card {
  width: 750px;
  font-size: 24px;
  text-align: center;
}

.subtit__card {
  margin-top: 35px;
  font-size: 15px;
  width: 420px;
  text-align: center;
}

.colum__card {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.col__item {
  text-align: center;
  margin-right: 100px;
}

.col__item:last-child {
  margin-right: 0px;
}

.sub__numb {
  margin-top: 15px;
  width: 300px;
}

/*==================================================
                    CREATE PROJECT
=====================================================*/
.creat__proj {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 350px;
  background-image: url(./img/background-img/back-3.png);
  background-position: top 50px center;
}

.title__creat {
  text-align: center;
  font-size: 24px;
  width: 710px;
}

.but__proj {
  margin-top: 45px;
  width: 165px;
  height: 55px;
}

/*=====================================================
                      BETTER BUSINESS
=======================================================*/

.bet__back {
  background-image: url(./img/background-img/back-4.png);
  background-repeat: no-repeat;
  background-position: right -20px top 15px;
  background-size: 900px;
  padding-bottom: 110px;
}

.bet__bus {

  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title__bet {
  margin-top: 50px;
  width: 430px;
  font-size: 24px;
}

.subtit__bet {
  margin-top: 40px;
  line-height: 28px;
  width: 480px;
  text-align: justify;
}

.but__bet {
  margin-top: 45px;
  width: 155px;
  height: 54px;
}

/*    CART     */

.cart__bus {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  width: 260px;
  height: 415px;
  background-color: #ffffff;
  border-radius: 10px;
}

.left__block {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 120px;
  left: -25px;
  width: 60px;
  height: 60px;
  background-color: #13C296;
  border-radius: 10px;
  box-shadow: -11px 16px 25px rgba(19, 194, 150, 0.24);
}

.pointer {
  align-self: center;
}

.right__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 65px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #516EA9;
  box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
  top: 250px;
  right: -120px;
  z-index: 1;
}

.month {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.percent {
  font-family: 'open-sans';
  font-size: 11px;
  color: #ffffff;
  letter-spacing: .5px;
}

.cart__content {
  margin-left: 30px;
}

.cart__tit {
  margin-top: 20px;
  color: #212B36;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.cart__adress {
  font-size: 12px;
  font-family: 'open-sans';
  font-weight: 500;
  color: #637381;
  line-height: 13px;
}

.cart__price {
  margin-top: 22px;
  color: #13C296;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.cart__text {
  color: #98A4AF;
  font-family: 'open-sans';
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 1px;
}

.line {
  margin-top: 20px;
  width: 200px;
  height: 1px;
  border: 1px solid #D6DBDF;
  transform: rotate(0deg);
  align-self: center;
}

.cart__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__item {
  margin-top: 13px;
}

.elem1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #212B36;
}

.elem2 {
  font-family: 'open-sans';
  color: #637381;
  font-size: 12px;
}

/*=====================================================
                        HELP INFO
=======================================================*/

.help__back {
  margin-top: 100px;
  background-image: url(./img/background-img/back-5.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.help__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help__cont {
  width: 550px;
}

.help__tit {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.help__subtit {
  margin-top: 30px;
}

.help__row {
  display: flex;
  justify-content: space-between;
}

.help__item {
  margin-top: 50px;
  width: 225px;
}

.help__name {
  margin-top: 20px;
  font-size: 16px;
}

.help__text {
  margin-top: 8px;
}

/*====================================================
                  FEEDBACK CARD
======================================================*/

.feedback__back {
  height: 450px;
  margin-top: 150px;
  background-image: url(./img/background-img/back-6.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__block {
  width: 940px;
  height: 325px;
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.feed__cont {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__tit {
  font-family: "Rubik", sans-serif;
  color: #F2994A;
  font-weight: 700;
  font-size: 36px;
}

.feed__text {
  margin-top: 20px;
  width: 395px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #95A1BB;
  line-height: 22px;
  text-align: center;
}

.user {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.text__box {
  width: 300px;
  height: 55px;
  background: #F6F6F6;
  opacity: 0.1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 16px;
}

input::placeholder {
  color: rgb(3, 3, 3);
  opacity: 1;
}

.feed__but {
  margin-top: 2px;
  width: 130px;
  height: 52px;
  letter-spacing: 2px;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.feed__ps {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: .2px;
}

/*=====================================================
                        FOOTER
=======================================================*/

.foot__back {
  margin-top: 130px;
  padding-top: 50px;
  background-image: url(./img/background-img/back-7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
}

.logo__sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 26px;
  color: #F2994A;
  font-weight: 700;
}

.sm {
  display: flex;
}

.sm__item {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: #3C3E7D;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s linear;
  opacity: .8;
}

  .sm__item:hover{
    background-color: transparent;
    border: 1px solid #f2994a;
    opacity: 1;
  }

/*     FOOTER NAV       */

.footer__nav{
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 300, Regular;
  font-size: 16px;
  color: #ffffff;
}

.nav__block{
  display: flex;
  flex-direction: column;
}

.nav__title{
  font-weight: 700;
}

.nav__item{
  margin-top: 25px;
  color:#fff;
}

.nav__item a{
  text-decoration: none;
  color: #fff;
  opacity: .8;
  position: relative;
  transition: all .3s linear;
}

  .nav__item a:hover{
  opacity: 1;
  }

.nav__item a::after{
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  left: 50%;
  position: absolute;
  background-color: #F2994A;
  transform: translateX(-50%);
  transition: all .2s linear;
}

.nav__item a:hover::after{
  width: 100%;
}

/*     LINK FAQ      */

.faq__link{
  margin-top: 120px;
  padding-bottom: 100px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300, Regular;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__item a{
  text-decoration: none;
  color: #8D8D8D;
  opacity: .5;
  transition: all .2s linear;
}

.link__item{
  margin-left: 35px;
}

.link__item:first-child{
  margin-left: 0px;
}

  .link__item a:hover{
    opacity: 1;
  }